body {
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    padding: 0 auto;
    width: 960px;
}

h1 {
    color: #ffffff;
    font-size: 45px;
    text-align: center;
}

p {
    font-family: 'Mystery Quest', cursive;
    font-size: 30px;
    color: #ffffff;
}